body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
#header {
    background-color: rgb(17, 131, 106);
    margin: 0px;
    padding: 0px;
}

#bato {
    text-align: center;
    font-size: 40px;
    padding-top:30px;
    margin: 0px;
}
.white {
    color: white;
}
.pink {
    color: rgb(248, 8, 68);
}
#v3x {
    line-height: 0.8;
    text-align: center;
    font-size: 20px;
    color:rgb(248, 8, 68);
    margin: 0px;
    padding:0px; 
}
#pages{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
}
#pages a:hover{
    color: rgb(10, 88, 71);
}
#pages a {
    text-decoration: none;
    font-size: 30px;
    color:rgb(176, 240, 213);
    font-weight: 700;
    padding: 15px;
}
#popular h1{
    font-size: 30px;
    color:rgb(75, 73, 73);
    display: block;
}
.imgg {
    
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;

}
.imgg a {
    position: relative;
    display:block
}
#popular a img{ 
    position:  ;
    width:205px;
    height: 270px;
    display:block;
    object-fit: cover;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background: rgba(0,0,0,0.6);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:left;

    padding: 5px;
    box-sizing: border-box;
}
.overlay h3, .overlay p{
    margin: 1px;
}